@import "tailwindcss";

@theme {
  --text-2xs: 0.625rem;
  --breakpoint-xs: 30rem;
  --color-citrus-rose: #E94857;
}

@layer base {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-number-spinner::-webkit-outer-spin-button,
  .no-number-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-number-spinner {
    -moz-appearance: textfield;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px inherit inset !important;
    box-shadow: 0 0 0 1000px inherit inset !important;
    -webkit-text-fill-color: inherit !important;
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
  }
}